body, p {
    padding: 0;
    margin: 0;
}

header {
    width: 100%;
    display: flex;
    background-color:#363636 ;
    height: 70px;
}



.container {
  display: block;
  width: 50%;
}


.logo {
  height: 90%;
  padding-top: 6px;
  padding-left: 60px;
}

.txt {
  position: absolute;
  font-family: 'VALORANT', sans-serif;
  padding-left: 20px;
  padding-top: 21px;
  font-size: 25px;
  color:white;
}

.txt-menu {
  color:white;
  font-family: 'Deviant Art 2000', sans-serif;
  word-spacing: 50px;
  padding-left: 280px;
  padding-top: 20px;
}

.teste {
  text-align: right;
}

.conteudo {
   width: 75%;
   display: inline-block;
}

.img1 {
  padding-top: 90px;
  padding-left: 320px;
}

.sidebar {
  width: 25%;
  display: inline-block;
  background: #FFFF00;
}

section {
  width: 100%;
  display: flex;
}

.bg {
  background-image: url(../imagens/background2.jpg);
  width: 100%;
  height: 800px;
}


